.graph-property-box-container {
    position: relative;
    /* padding: 6px; */
    height: 100%;
    width: 100%;
    overflow: auto;
}

.graph-property-box-item-label {
    margin-right: 10px;
    width: 60px;
}

.graph-property-box-item-color-showBox {
    width: 30px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid rgb(182, 182, 182);
}

.graph-property-box-item {
    flex: 1;
    display: flex;
    align-items: center;
    height: 40px;
}